* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 200px;
    padding-left: 25px;
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 62px;
    background: 0 0;
    padding: 0 20px 0 23px;
    border: none;
    box-shadow: 0px 0px 30px 10px rgba(120, 109, 122, 0.5);
}

input:focus {
    outline: none;
    border: 2px solid #C1D9FD;
}

input:valid {
    border-color: greenyellow;
}

input:invalid {
    border-color: red;
}

input:not(:focus):invalid {
    border-color: #C1D9FD;
}

main {
    background: #d7cddc;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: #c4b6cb;/*цвет круга*/
    box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
    animation-name: fadeCircle;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeCircle {
    0% {
        width: 2534px;
        height: 2534px;
    }
    25% {
        width: 2000px;
        height: 2000px;
    }
    50% {
        width: 1500px;
        height: 1500px;
    }
    75% {
        width: 1000px;
        height: 1000px;
    }
    100% {
        width: 700px;
        height: 700px;
    }
}

.register-form-container {
    opacity: 0;
    position: relative;
    z-index: 2;
    max-width: 415px;
    width: 100%;
    background: #ffffff;
    box-shadow: 5px 5px 30px 20px rgba(121, 143, 189, 0.7);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 38px;
    padding-bottom: 38px;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

.form-title {
    display: block;
        font-family: SourceSansPro-Bold;
        font-size: 30px;
        color: #4b2354;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 37px;
}

.form-field {
    margin-bottom: 13px;
}




/* Окно сообщения отображается, когда пользователь нажимает на поле пароля */
#message {
    display:none;
    background: #ffffff;
    color: rgb(2, 48, 92);
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10%;
    border: 2px solid #c09dc1;
  }

  #message h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(42, 10, 185);

}

  #message p {
    padding: 10px 35px;
    font-size: 14px;
  }

  /* Добавить зеленый цвет текста и галочка, когда требования верны */
  .valid {
    border-radius: 5px;
    color: green;
  }

  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }

  /* Добавить красный цвет текста и собой "x" и значок, когда требования не правы */
  .invalid {
    border-radius: 5px;
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -35px;
    content: "X";
  }

.radio input { display: none; /* Прячем исходный переключатель */ }
 .radio span {
    position: relative; /* Относительное позиционирование */
    display: inline-block; /* Строчно-блочный элемент */
    width: 30px; height: 30px; /* Размеры */
    background: #F5F5F5; /* Серый цвет фона */
    border-radius: 30%; /* Круглый переключатель */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5); /* Тень внутри */
   }
 .radio input:checked + span {
    background: #264ac2; /* Красный цвет фона */
   }
   /* Добавляем белую точку по центру */
 .radio input:checked + span::before {
    content: '';
    position: absolute;
    left: 6px; top: 6px;
    background: #fff;
    width: 18px; height: 18px;
    border-radius: 30%;
   }

  .button {
      width: 100%;
      font-weight: bold;
      font-size: 14px;
      display:block;
      height: 45px;
      background-color: #807591;
      border-radius: 5px;
      color:#fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 45px;
      cursor: pointer;
      border: none;
  }

  .button:hover {
       background: #E2E6F0;
       color: #fff;
  }

