<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <title>Welcome</title>
</head>

<body class="text-center" cz-shortcut-listen="true">
<h1>Welcome User!</h1>
<p><a th:href="@{/account}">Entrance</a> &nbsp &nbsp<a th:href="@{/registration}">
    Register under a different name</a></p>
</body>

</html>