<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <title>Registration</title>
</head>

<body class="text-center" cz-shortcut-listen="true">

    <ul>
        <li th:each="mes: ${message}">
            <p th:text="${mes}"></p>
        </li>
    </ul>

    <main class="form-signin">
        <form th:action="@{/registration}"
              th:object="${user}" method="post"
              enctype="multipart/form-data">

            <h1 class="h3 mb-3 fw-normal">Registration</h1>

            <div class="form-floating">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Логин">
                <label for="floatingInput">Login</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Пароль">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="text" name="name" class="form-control" id="floatingText1" placeholder="Имя">
                <label for="floatingText1">Name</label>
            </div>

            <div class="form-floating">
                <input type="text" name="surname" class="form-control" id="floatingText2" placeholder="Фамилия">
                <label for="floatingText2">Surname</label>
            </div>

            <div class="form-floating">
                <input type="text" name="patronymic" class="form-control" id="floatingText3" placeholder="Отчество">
                <label for="floatingText3">Patronymic</label>
            </div>

            <div>
                <label>Photos: </label>
                 <input type="file" name="image" accept="image/png, image/jpeg" class="form-control mb-4 col-4"  multiple="multiple" placeholder="Изображение"/>

            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register now</button>
        </form>
    </main>
</body>

</html>